<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.progartisan.module.knowledgebase.knowledge.infra.KnowledgeMapper">
    <resultMap id="KnowledgeTag" type="com.progartisan.module.knowledgebase.knowledge.model.Knowledge$KnowledgeTag"
               autoMapping="true">
        <id property="id" column="id"/>
        <association property="tag" resultMap="Tag" notNullColumn="tag_id"/>
    </resultMap>
    <resultMap id="Knowledge" type="com.progartisan.module.knowledgebase.knowledge.model.Knowledge" autoMapping="true">
        <id property="knowledgeId" column="knowledge_id"/>
        <collection property="tags" notNullColumn="tag_id" resultMap="KnowledgeTag"/>
    </resultMap>
    <resultMap id="Example" type="com.progartisan.module.knowledgebase.knowledge.model.Knowledge" extends="Knowledge">
    </resultMap>
    <resultMap id="Tag" type="com.progartisan.module.knowledgebase.knowledge.model.Tag" autoMapping="true">
        <id property="tagId" column="tag_id"/>
    </resultMap>
    <resultMap id="TagWithParent" type="com.progartisan.module.knowledgebase.knowledge.model.Tag" autoMapping="true">
        <id property="tagId" column="tag_id"/>
        <association property="parent" resultMap="Tag" notNullColumn="tag_id" columnPrefix="_parent_"/>
    </resultMap>
    <select id="getKnowledge" resultMap="Knowledge">
        select *
        from knowledge k
        left join knowledge_tag kt on k.knowledge_id = kt.knowledge_id
        left join tag t on kt.tag_id = t.tag_id
        where k.knowledge_id = #{knowledgeId}
    </select>

    <!-- 按tag查询知识项列表 -->
    <select id="queryKnowledgeByTag" resultMap="Knowledge">
        select *
        from knowledge k
        left join knowledge_tag kt on k.knowledge_id = kt.knowledge_id
        <if test="tagId != null and tagId != ''">
            where kt.tag_id = #{tagId}
        </if>
    </select>

    <!-- 按text查询tags -->
    <select id="getMatchedTags" resultMap="Tag">
        select *
        from tag
        where tag_name like CONCAT('%', #{text}, '%')
    </select>

    <!-- 按tagPath和order顺序获取标签树数据 -->
    <select id="queryTagTree" resultMap="Tag">
        select *
        from tag
        order by parent_tag_id, `order`
    </select>

    <!-- 批量删除某个tagId的所有知识-标签 -->
    <delete id="removeTagFromAllKnowledge">
        delete from knowledge_tag
        where tag_id = #{tagId}
    </delete>

    <select id="getChildrenTags" resultMap="Tag">
        select *
        from tag
        where parent_tag_id = #{tagId}
        order by `order`
    </select>

    <select id="getTag" resultMap="TagWithParent">
        select t.*, p.tag_name as _parent_tag_name, p.full_path as _parent_full_path, p.tag_id as _parent_tag_id,
        p.parent_tag_id as _parent_parent_tag_id
        from tag t
        left join tag p on t.parent_tag_id = p.tag_id
        where t.tag_id = #{tagId}
    </select>

    <!-- 按tag名精确找到tag -->
    <select id="getTagsByName" resultMap="Tag">
        select *
        from tag
        where tag_name = #{tagName}
    </select>
</mapper>
